name: Basic CI with 3 Jobs

on:
  push:
    branches: [ "main" ]
  

jobs:

  job1-setup:
    name: Job 1 – Setup
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print environment info
        run: |
          echo "Running on GitHub Actions"
          echo "Branch: $GITHUB_REF"

  job2-build:
    name: Job 2 – Build
    runs-on: ubuntu-latest
    needs: job1-setup

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Simulate build
        run: |
          echo "Building project..."
          sleep 2
          echo "Build completed"

  job3-test:
    name: Job 3 – Test (Intentional Failure)
    runs-on: ubuntu-latest
    needs: job2-build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        run: |
          echo "Running tests..."
          echo "Forcing a failure for monitoring demo"
          exit 1
